{% if user.description %}
  <div class="catalog catalog_border-b">
    <div class="catalog__title">{{ trans('users.biography', {}, locale) }}</div>
    <div class="catalog__item-text">
      <p> 
        {{ user.description|raw }}
      </p>
    </div>
  </div>
{% endif %}
{% if user.rewards %}
  <div class="catalog">
    <div class="catalog__title">{{ trans('users.rewards', {}, locale) }}</div>
    <div class="catalog__item-text">
      <p>
        {{ user.rewards|raw }}
      </p>
    </div> 
  </div>
{% endif %}