<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

<style>
.page-break {
    page-break-after: always;
}
</style>

{% for element in elements %}
	<img src="data:image/png;base64,{{ element.svg|raw }}" width="100%" />
	<h4>{{ collection }}, {{ element.id }}</h4>
	<div class="page-break"></div>
{% endfor %}